<nav class="navbar top_header" style="display: flex">
  <div
    class="container headerimage"
    style="margin-top: auto; margin-bottom: auto"
  >
    <div class="navbar-header home_headerlogo">
      <a class="navbar-brand" style="padding: 0 !important">
        <img
          class="img-responsive"
          src="../../assets/website/images/logo2-xl.png"
          title="Revolutiones"
          alt="Revolutiones"
          style="width: 128px; height: auto; margin: auto 0"
        />
      </a>
    </div>
    <div class="navbar-right menu-items">
      <ul class="menu-list">
        <li class="login_btns">
          <a
            href="https://app.procal.io/login"
            target="_blank"
            class="menu-btns"
            >Login</a
          >
        </li>
        <li class="login_btns">
          <a
            href="https://www.revolutiones.com/#/support"
            target="_blank"
            class="menu-btns"
            >Support</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
