.menu-items {
  padding-top: 4px;
}
.menu-items ul {
  display: flex;
  margin-bottom: 0px !important;
}
.menu-btns {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}
.menu-list {
  list-style-type: none;
  padding: 0;
}
.menu-items li {
  border-radius: 4px;
  padding: 3px 5px;
  border: 1px solid #e06730;
  width: 70px;
  text-indent: 0%;
  text-align: center;
}
.menu-items {
  margin: 10px;
}
.menu-items li:nth-child(1) {
  margin-right: 10px;
}
.top_header {
  top: 0px;
  padding: 12px 40px 12px 40px;
  position: fixed;
  z-index: 999;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

@media (min-width: 426px) and (max-width: 768px) {
  .top_header {
    padding: 14px 3px 24px 0px;
    position: sticky;
  }
}
@media (max-width: 425px) and (min-width: 320px) {
  .top_header {
    padding: 10px 0px 14px 0px;
    border-bottom: 1px solid #d2d2d2;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .headerimage {
    display: flex;
    justify-content: space-between;
  }
}
