<nav class="navbar top_header">
  <div class="container headerimage">
    <div class="navbar-header home_headerlogo">
      <a class="navbar-brand" style="padding: 0 !important">
        <img
          class="img-responsive"
          src="/assets/website/images/logo1.png"
          title="Revolutiones"
          alt="Revolutiones"
        />
      </a>
    </div>
    <div class="navbar-right menu-items">
      <ul class="menu-list">
        <li class="login_btns">
          <a href="https://app.procal.io/login" class="menu-btns">Login</a>
        </li>
        <li class="login_btns">
          <a href="https://www.revolutiones.com/#/support" class="menu-btns"
            >Support</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
