<footer class="footer">
  <div class="container">
    <div class="footer-widgets">
      <div class="row"></div>
      <div class="col-sm-2 col-sm-offset-1 mt-40">
        <h4>HOW WE HELP</h4>
        <ul>
          <li [routerLink]="'/payroll'">Entertainment Payroll</li>
          <li [routerLink]="'/software'">Software</li>
          <li [routerLink]="'/healthcare'">Healthcare</li>
          <li [routerLink]="'/taxincentive'">Tax Incentives</li>
          <li [routerLink]="'/staffing'">Business Services</li>
          <li [routerLink]="'/covid19response'">COVID-19 Response</li>
        </ul>
      </div>
      <div class="col-sm-2 mt-40 footer-software">
        <h4>SOFTWARE</h4>
        <ul>
          <li [routerLink]="['/software']" fragment="prohire">ProHire</li>
          <li [routerLink]="['/software']" fragment="probook">ProBooks</li>
          <li [routerLink]="['/software']" fragment="procal">ProCal</li>
          <li [routerLink]="['/software']" fragment="setkeeper">SetKeeper</li>
          <li [routerLink]="['/software']" fragment="proanalytics">
            ProAnalytics
          </li>
          <li [routerLink]="['/software']" fragment="proanalyticsai">
            ProIntelligence
          </li>
        </ul>
      </div>
      <div class="col-sm-2 mt-40 footer-hereforyou">
        <h4>HERE FOR YOU</h4>
        <ul>
          <li [routerLink]="'/support'">Support</li>
          <li [routerLink]="'/onlineservices'">Employees</li>
          <li [routerLink]="['/onlineservices']" fragment="employers">
            Employers
          </li>
          <li [routerLink]="'/software'">Call: 818-562-7866</li>
          <li>
            <a href="mailto:info@revolutiones.com">info@revolutiones.com</a>
          </li>
          <!-- <li> <a href="http://www.crewvie.com/" target="_blank">Find Crew with VYC</a> </li> -->
        </ul>
      </div>
      <div class="col-sm-2 mt-40 footer-about">
        <h4>ABOUT</h4>
        <ul>
          <li [routerLink]="'/partnersandaffiliates'">Partners & Affiliates</li>
          <li [routerLink]="'/aboutus'">It’s About You</li>
          <li>Join Our List</li>
          <li [routerLink]="'/termsofuse'">Terms of Use</li>
          <li [routerLink]="'/privacypolicy'">Privacy Policy</li>
          <li [routerLink]="'/taxincentive'" class="icons">
            <span>
              <a
                href="https://www.facebook.com/Revolution-Entertainment-Services-688285538008515/"
                target="_blank"
                ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a
            ></span>
            <span>
              <a
                href="https://www.linkedin.com/company/revolutionentertainmentservices/"
                target="_blank"
                ><i class="fa fa-facebook-square" aria-hidden="true"></i></a
            ></span>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 mt-40 footer-find">
        <h4>FIND</h4>
        <ul>
          <li>
            <a href="https://greenlightgo.tv/" target="_blank">
              Production Space</a
            >
          </li>
          <li><a href="http://www.crewvie.com/" target="_blank"> Crew</a></li>
          <li>
            <a href="https://www.mibemusic.com/" target="_blank"> Music</a>
          </li>
          <li>
            <a href="https://www.insuredproduction.com/" target="_blank">
              Production Insurance</a
            >
          </li>
          <!-- <li> <a href="http://oak-lagunabeach.com/" target="_blank"> Catering</a> </li> -->
        </ul>
      </div>
    </div>
  </div>
  <p class="copy-right text-center">
    Copyright © 2019 All Rights Reserved by Revolution Entertainment Services.
  </p>
  <!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6950251.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</footer>
