<table class="table table-bordered table-bottom">
  <tr class="">
    <td class="col-md-6 table-fields" style="vertical-align: bottom;">
      Prep Date: <input type="date" formControlName="prepdate" class="form-control" id="startshoot"
        placeholder="Click here to enter a date.">
    </td>
    <td class="col-md-6 table-fields">
      <ul>
        <li>
          Start Shoot: <input type="date" formControlName="startshoot" class="form-control" id="startshoot"
            placeholder="Click here to enter a date."><br>
        </li>
        <li>
          End Shoot: <input type="date" formControlName="endshoot" class="form-control" id="endshoot"
            placeholder="Click here to enter a date.">
        </li>
      </ul>
    </td>
  </tr>
  <tr class="">
    <td class="col-md-6 table-fields">
      End Payroll: <input type="date" formControlName="endpayroll" class="form-control" id="endpay-roll"
        placeholder="Click here to enter a date.">
    </td>
    <td class="col-md-6 table-fields basic-payroll ">
      <input type="checkbox" formControlName="directdeposite" value="[Y]" class="form-control">
      Direct Deposit for Employees
    </td>
  </tr>
  <tr class="">
    <td class="col-md-6 table-fields basic-payroll">
      <input type="checkbox" formControlName="Recurringcharge" value="[Y]" class="form-control">
      Recurring Charge
    </td>
    <td class="col-md-6 table-fields">
      Type: <input type="name" formControlName="Type" class="form-control" id="Type"
        placeholder="Click here to enter a date.">
    </td>
  </tr>
  <tr class="">
    <td class="col-md-6 table-fields">
      Shooting Locations:
      <input type="name" formControlName="shootinglocations" class="form-control" id="shooting-loc"
        placeholder="Click here to enter a date.">
    </td>
  </tr>
  <tr class="">
    <td class="col-md-6 table-fields basic-payroll">
      <input type="checkbox" formControlName="shootingus" value="[Y]" class="form-control">
      Shooting Outside US
    </td>
    <td class="col-md-6 table-fields">
      List of Foreign Locations:
      <input type="name" formControlName="foreignlocations" class="form-control" id="foreign-loc"
        placeholder="Click here to enter a date.">
    </td>
  </tr>
</table>
