<div class="backgrop" (click)="closeNav()" id="backdrop"></div>
<div class="aboutus-bg fadeIn text-center">
  <app-header></app-header>
  <!-- <div class="menu" style="z-index: 1; position: relative;">
    <div class="col-md-12 about-container mt30 position-fixed">
      <div class="back-home-btn abouts-heading  pull-left">
        <button class="aboutus-back-btn " (click)="backhomenav()">
          <a href=""> <img src="/assets/website/images/rev-icon-small.png" alt=""></a>
          <a href="" id="backhome-aboutus"> <span> BACK HOME</span> </a>
        </button>
        <div class="pull-right toggle-btn">
          <a class=" adjust-top open-menu-button " (click)="openNav()">
            <span class="color-black"></span>
            <span class="color-black"></span>
            <span class="color-black"></span>
          </a>
          <div id="mySidenav" class="sidenav font-family-menu">
            <span class="closenav-btn">
              <a href="javascript:void(0)" class="closebtn pull-left" (click)="closeNav()">&times;</a>
            </span>
            <div class="nav-menu">
              <a (click)="noopacitybg('payroll')" class="dropdown-item">Entertainment Payroll </a>
              <a (click)="noopacitybg('software')" class="dropdown-item">Software </a>
              <a (click)="noopacitybg('healthcare')" class="dropdown-item">Healthcare </a>
              <a (click)="noopacitybg('taxincentive')" class="dropdown-item">Tax Incentives </a>
              <a (click)="noopacitybg('staffing')" class="dropdown-item">Business Services </a>
              <a (click)="noopacitybg('support')" class="dropdown-item">Support </a>
              <a (click)="noopacitybg('aboutus')" class="dropdown-item">What We’re About </a>
              <a (click)="noopacitybg( 'partnersandaffiliates')" class="dropdown-item">Partners & Affiliates </a>
              <a (click)="noopacitybg( 'onlineservices')" class="dropdown-item">Online Services </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="page-nav1 clr_black1">
    <a routerLink="/" class="slider__button slider__button--prev">PREV</a>
    <a routerLink="/" class="slider__button slider__button--next"> NEXT</a>
  </div>
  <div class="container">
    <div class="aboutus-content">
      <h1 class="fontimpact">What We’re About</h1>
      <div class="aboutus-content-outer">
        <div class="aboutus-content-middle">
          <div class="aboutus-content-inner content-bg">
            <div class="heading-overlay">
              <h2 class="overlay-h2 fontimpact">Your Success</h2>
            </div>
            <p>
              Revolution provides employer-of-record payroll and related
              services for all types of entertainment productions, including
              feature films, television, commercials, music videos, digital, and
              live events. Some of our key services include union and non-union
              payroll processing, healthcare administration, labor compliance,
              tax incentive support, production referral services, as well as
              intuitive entertainment time card & production accounting
              software.
            </p>
            <p>
              The company was founded with a bold ambition - to revolutionize
              how an entertainment payroll company services its clients and to
              create an environment where clients will spend less time worrying
              about payroll related matters and more time doing what they love
              most: creating exhilarating content and building their business.
            </p>
            <p>
              Hiring, firing, regulatory compliance, healthcare administration,
              understanding collective bargaining agreements, state and local
              sick leave laws!? It’s painful, and none of this has anything to
              do with exhibiting a creative vision to the audience. And yet,
              every production—big or small—must deal with these issues...and
              the work is soul crushing.
            </p>
            <p>
              In working with and listening to hundreds of production personnel,
              from accountants to producers, we’ve learned that what you want
              most is help in reducing complexity with payroll and accounting,
              help in managing the constantly changing rules and regulations,
              and a certainty that the systems work. No over-promising and
              under-delivering. You want one place to go, one provider, where
              you can process payroll, offer benefits, have reliable people
              handling your account, and have assurance that your most precious
              resource—your people—are getting paid timely and accurately.
            </p>
            <p>
              Yes, we offer you great software using cutting-edge technology.
              Yes, we handle your payroll with accuracy. And yes, we offer you
              competitive rates. But all these bells and whistles are
              meaningless if we don’t offer you the basics. And that’s
              exceptional service, with honesty and integrity.
            </p>
            <p>
              Our slogan is simply “we do more.” So, welcome to the Revolution.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <p class="col-md-12 hc-contactus-link bgbcolor  bottomboxsize pt55  mt40">
    <span class="spanclass">
      <p class="pt10"> <a (click)="navigateTo('support')" class="cursor-pointer">Contact us. </a> </p>
    </span>
  </p> -->

  <app-footer></app-footer>
</div>
<!-- <div class="bookademo">
  <button (click)="openDemo()">Book a demo </button>
</div>
<div id="bookademotemplate" class="sidenavdemo">
  <form name="demoFrom" [formGroup]="demoForm" novalidate autocomplete="off">
    <h4> Email Us</h4>
    <textarea name="message" class="form-control" formControlName="message" id="" placeholder="Your Note" cols="30"
      rows="4"></textarea>

    <input type="text" placeholder="Your Email" type="email" class="form-control" name="email" formControlName="email"
      required>
    <p class=" demobtns "> <a class="pull-left demoback" (click)='closeDemo()'> <i class="fa fa-long-arrow-left"
          aria-hidden="true"></i>
      </a>
      <button type="submit" class="pull-right demosend"> Send </button> </p>
  </form>
</div> -->
