
<div class="section-contact">
  <div class="menu">

   <div class="menu-items-contactus">
      <div class="pull-right  search-icon ">
          <button type="button" class="search-btn" (click)="openModal(template);test()">
            <img src="../../assets/images/search-icon.png" alt="">
          </button>
        </div>
        <div class="pull-right toggle-btn">
     <button  class="contactus-menu"  (click)="openNav()" ><img src="../../assets//images/toggle-btn copy (1).png" alt=""></button>
    </div>
    <div id="mySidenav" class="sidenav" style ="font-family:Helvetica Neue;">
      <span class="closenav-btn">
        <a href="javascript:void(0)" class="closebtn pull-left" (click)="closeNav()">&times;</a>
      </span>


       <div class="nav-menu">
          <a closesidebar routerLink='' (click)="noopacitybg()" class="dropdown-item text-left" href="#">HOME</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">ABOUT</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">FORMS AND NOTICES</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">WORKERS’ COMPENSATION</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">LABOR RELATIONS </a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">RESIDUALS</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">AFFILIATES</a>
      <a closesidebar routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">BLOGS</a>
      <a routerLink='contact' (click)="noopacitybg()" class="dropdown-item text-left" href="#">CONTACT </a>
      <a routerLink='pagenotfound' (click)="noopacitybg()" class="dropdown-item text-left" href="#">CAREERS </a>

    </div>
    </div>
   </div>


    <div class="container">

      <div class="content col-md-6">
        <div class="contactus-logo">

         <a href=""> <img src="../../assets/images/logo.png" alt="">
         </a>
        </div>
        <div class="main-text">
          <div class="typewriter">
            <h1>hey {{there}}
              <span *ngIf="showname">{{name}}</span>
            </h1>
          </div>
        </div>
        <form class="contact-form">
          <p>

            <input type="text" [(ngModel)]="name" name="name" placeholder="Name" (change)="displayname()">
          </p>
          <p>

            <input type="text" placeholder="Phone">
          </p>
          <p>

            <input type="email" placeholder="Email">
          </p>
          <p class="textarea">

            <textarea placeholder="Message"></textarea>
          </p>
          <p class="contactus-giveusacall">
             Give us a call. We arrive
            <br> early and stay late.
            <br>
            <span>818 562 7866</span>
          </p>
          <p class="button-pan">
            <button type="button">Submit Now</button>
          </p>
        </form>
      </div>

      <div class="content contact-map-address col-md-6">
        <h4>
          Contact Us
        </h4>
        <p>
          <img src="{{imgsrc}}" alt="">
        </p>
        <p class="office-add-heading">
          Our Office Locations</p>

        <div class="tab office-address-abb col-md-6">
          <button class="tablinks" (click)="officeaddress('office1')"> Burbank, CA </button>
          <button class="tablinks" (click)="officeaddress('office2')">office 2</button>
          <button class="tablinks" (click)="officeaddress('office3')">office 3</button>
        </div>

        <div class="office-address">

          <div class="office-address-full col-md-6">
            <p>
              {{officeaddress1}}
            </p>
          </div>
        </div>
        <div class="office-address">

          <div class="office-address-full office-po-2 col-md-6">
            <p>
              {{officeaddress2}}
            </p>
          </div>
        </div>

        <div class="office-address">

          <div class="office-address-full office-po-3 col-md-6">
            <p>
              {{officeaddress3}}
            </p>
          </div>
        </div>


      </div>

      <div class="col-md-12 scroll-icon">
        <p >
          <a class="arrow bounce" (click)="scroll(target)">
            <img src="../../assets/images/contactus-scroll-icon.png" alt=""> </a>
        </p>
      </div>

      <div class="contactus-support col-md-12" [class.selected]="wasClicked">
        <h4> Support </h4>

        <div class="col-md-6 service-support p0 ">
          <h4>Payroll</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support pdl185">
          <h4>Client Services</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support p0" #target>
          <h4>Software (Accounting, Timecard, ProCal)</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support pdl185">
          <h4>Staffing Solutions</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support p0">
          <h4>Healthcare / Affordable Care Act </h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support pdl185">
          <h4>Workers’ Compensation</h4>
          <p>Email Address</p>
          <p>Phone Number</p>
          <p class="pd30">
            <a (click)="btnClick();">Report Enqiury</a>
          </p>
        </div>
        <div class="col-md-6  service-support p0">
          <h4>Sales / Marketing</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>
        <div class="col-md-6  service-support pdl185">
          <h4>Tax Incentives</h4>
          <p>Email Address</p>
          <p class="pd30">Phone Number</p>
        </div>

        <div class="col-md-12 suppies-forms-btn">

          <button class="btn btn-block" type="button" (click)="btnClick();" data-aos="fade-up"   data-aos-duration="1500">
            <span>Supplies and Forms</span>
          </button>

        </div>
      </div>



    </div>
  </div>
</div>
<script>
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<ng-template #template>

    <div class="modal-body">

      <p class="pull-right col-md-12">
        <button type="button " class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </p>
      <p class="search-heading col-md-12"> START TYPING AND PRESS ENTER TO SEARCH </p>
      <form>

        <input type="text" #box (keyup.enter)="onEnter(box.value)" autofocus list="browsers" name="browser" placeholder="">



        <datalist id="browsers">
          <option value="contact us">
            <option value="home">
              <option value="about">
                <option value="forms and notices">
                  <option value="workers compensation">
                    <option value="residuals">
                      <option value="affilates">
                        <option value="forms and notices">
                          <option value="blogs">
                            <option value="careers">
                              <option value="Entertainment Payroll">
                                <option value="software">
                                  <option value="healthcare">
                                    <option value="tax incentives">
                                      <option value="staffing">
                                        <option value="support">
        </datalist>

        <i></i>
      </form>

    </div>
  </ng-template>
