<div class="background app-terms" id="app-terms">
  <section class="page">
    <h1>Terms of Use</h1>
    <div class="privacy-content-inner content-bg">
      <p><strong>Effective Date: July 1, 2019</strong></p>
      <p>
        The <a href="www.revolutiones.com">www.revolutiones.com</a> website, and
        any derivative, or affiliated website on which these Terms of Use are
        linked are owned, and operated by Revolution Business Services, LLC.
        (“<strong>RES</strong>”). RES has adopted these Terms of Use (“Terms of
        Use”) to make you aware of the terms , and conditions of your use of the
        <a href="www.revolutiones.com">www.revolutiones.com</a> website, any
        derivative websites on which these Terms of Use are posted , and any
        Content (defined below), or other products, or services that are
        offered, or provided via the aforementioned websites (collectively, the
        “<strong>website</strong>”). In the event that you purport to be the
        agent of, employee of, represent, or otherwise act on behalf of an
        entity, or any other person, references to “<strong>you</strong>,”
        “<strong>your</strong>” or “<strong>User</strong>” shall include such
        entity, or person in addition to you, you represent, and warrant that
        you are in fact an authorized representative of such entity, or other
        person, and have the authority to bind such entity, or other person to
        these Terms of Use, and your acceptance of these Terms of Use shall
        constitute acceptance on behalf of such entity, or person. Additionally,
        please note that your use of certain features, or Content on the website
        may be subject to other written agreements between RES , and you and/or
        the entity you represent. The terms of such other agreements (including,
        without limitation, master, payroll, end user, and other license
        agreements) shall continue to govern your use, and shall control to the
        extent they expressly conflict with these Terms of Use.
      </p>

      <p>
        RES reserves the right, at its discretion, to change, modify, add, or
        remove portions of these Terms of Use at any time by posting such
        changes to this page. You understand that you have the affirmative
        obligation to check these Terms of Use periodically for changes, and you
        hereby agree to periodically review these Terms of Use for such changes.
        The continued use of the website following the posting of changes to
        these Terms of Use will constitute your acceptance of those changes
        going forward from the date of revision. Amended dispute resolution
        provisions will not apply to any dispute of which the parties had actual
        notice as of the date of the change.
      </p>

      <p>
        BY USING, OR OTHERWISE ACCESSING THE WEBSITE, CREATING, REGISTERING, OR
        ACCESSING AN ACCOUNT, POSTING, OR DOWNLOADING CONTENT, OR ANY OTHER
        INFORMATION TO, OR FROM THE WEBSITE, PURCHASING ANY PRODUCTS, OR
        SERVICES VIA THE WEBSITE OR MANIFESTING YOUR ASSENT TO THESE TERMS OF
        USE IN ANY OTHER MANNER, YOU HEREBY UNEQUIVOCALLY, AND EXPRESSLY AGREE
        TO, AND SHALL BE SUBJECT TO, THESE TERMS OF USE. IF YOU DO NOT
        UNEQUIVOCALLY AGREE TO THESE TERMS OF USE, YOU MAY NOT USE, OR OTHERWISE
        ACCESS THE WEBSITE, CREATE, REGISTER, OR ACCESS AN ACCOUNT, POST, OR
        DOWNLOAD CONTENT, OR ANY OTHER INFORMATION TO, OR FROM THE WEBSITE OR
        PURCHASE ANY PRODUCTS, OR SERVICES VIA THE WEBSITE.
      </p>

      <p>
        <strong>General Terms of Use, and Restrictions on Use </strong>
      </p>
      <p>
        RES hereby grants you a limited, nonexclusive, nonassignable,
        nontransferable license to access, and use the website solely for your
        noncommercial, personal use, or the internal business needs of the
        entity of which you are an authorized representative or employed by, as
        the case may be, subject to your agreement to, compliance with, and
        satisfaction of these Terms of Use. RES reserves all rights not
        otherwise expressly granted by these Terms of Use. If you do not comply
        with the Terms of Use at any time, RES reserves the right to revoke the
        aforementioned license(s), limit your access to the website, or restrict
        your ability to post, or download Content, or order products, and
        services. You agree not to reproduce, duplicate, copy, distribute,
        transmit, sell, trade, resell, or exploit for any purpose any portion
        of, or any information from the website. You may not obscure, or remove
        any proprietary rights notices contained in, or on the Content. You are
        solely responsible for providing, maintaining, and ensuring the
        compatibility of all hardware, software, electrical, and other physical
        requirements necessary for your access to, and use of the website, or
        any part thereof.
      </p>

      <p>
        RES may discontinue, or alter any aspect of the website, remove Content
        from the website, restrict the time the website is available, or
        restrict the amount of use permitted at RES’s sole discretion, and
        without prior notice, or liability. You agree that RES may, under
        certain circumstances, and with, or without cause, immediately suspend
        and/or terminate your access to the website, or any part thereof. Cause
        for such measures shall include, without limitation: (a) breaches, or
        violations by you of these Terms of Use, or other incorporated
        agreements, or guidelines; (b) discontinuance, or material modification
        to the website; (c) unexpected technical, or security issues, or
        problems; (d) extended periods of inactivity; and/or (e) engagement by
        you in fraudulent, or illegal activities. RES may take such measures in
        its sole discretion, and without liability to you, or any third party.
      </p>

      <p>
        For purposes of these Terms of Use, references to
        “<strong>post</strong>”, or “<strong>posting</strong>” shall refer to
        any manner of posting, transmitting, uploading, providing, making
        available, or otherwise transferring material or information.
      </p>

      <p><strong>RES Intellectual Property</strong></p>
      <p>
        Unless otherwise specifically noted in these Terms of Use, images,
        trademarks, service marks, logos, and icons displayed on the website,
        including, without limitation, RES, the RES logo, and any of the
        ProTools© products, including but not limited to ProAnalytics, ProBooks,
        ProCal, ProHire, and ProIntelligence, are the property of RES and/or its
        licensors, and may not be used without RES’s prior written consent.
        Trademarks owned by third parties are the property of those respective
        third parties. The website is the copyrighted property of RES, and it
        may not be reproduced, recreated, modified, accessed, or used in any
        manner or disseminated, or distributed to any other party in violation
        of these Terms of Use. Any unauthorized use of any Content, whether
        owned by RES, or other parties, may violate copyright laws, trademark
        laws, privacy, and publicity laws, and communications regulations, and
        statutes. You will not copy, reverse engineer, disassemble, decompile,
        translate, modify, reproduce, republish, transmit, sell, offer for sale,
        disseminate, or redistribute the intellectual property found in the
        website, or any part thereof or grant any other person, or entity the
        right, or access to do so.
      </p>

      <p><strong>Accounts</strong></p>

      <p>
        For certain aspects of the website, you may be asked to register an
        account. In the event you agree to register an account, you will select
        and/or receive a username, and password upon providing registration
        information, and successfully completing the registration process. This
        account is personal to you, and you may not share it, or allow any other
        person to utilize your account. You are responsible for maintaining the
        confidentiality of your username, and password, and are fully
        responsible for all activities that occur under your username, and
        password. You agree to immediately notify RES in the event (a) your
        registration information changes, or (b) you learn of, or have reason to
        suspect any unauthorized use of your account, or any other breach of
        security. You also agree that you will provide truthful, and accurate
        information during the registration process. RES may refuse to grant a
        particular username to you for any reason, including, without
        limitation, in the event RES determines that such username impersonates
        someone else, is protected by trademark, or other proprietary right law,
        or is vulgar, or otherwise offensive.
      </p>

      <p><strong>Content</strong></p>
      <p>
        You acknowledge that the website may contain, or provide access to
        information, software, photos, video, text, graphics, music, sounds, or
        other material provided by RES, or third parties (collectively,
        “<strong>Content</strong>”) that are protected by copyrights, patents,
        trademarks, trade secrets, or other intellectual property laws, and that
        these rights are valid, and protected in all forms, media, and
        technologies existing now or hereafter developed. For the avoidance of
        doubt, references to Content shall include User Content.
      </p>

      <p>
        The Content posted by users via the website other than Feedback (defined
        below) (collectively, “<strong>User Content</strong>”) is the
        intellectual property of the specific users of the website who post such
        User Content, and their licensors, if any. RES does not claim any
        ownership rights in such User Content. By posting User Content via the
        website, however, you hereby grant to RES a limited, transferable,
        nonexclusive, worldwide, perpetual, royalty-free license to use,
        reproduce, modify, edit, adapt, publish, translate, display, distribute,
        sell, sublicense, and create derivative works, and compilations
        incorporating such User Content for purposes of operating the website,
        and for such other purposes as the User Content was disclosed. RES does
        not generally monitor, or otherwise remove User Content after it is
        posted on the website except under certain limited circumstances as
        required or permitted by law, or otherwise in the sole discretion of
        RES. In the event you would like to request that RES remove your User
        Content from the website, please contact RES at
        <strong>support@revolutiones.com</strong>. Please note however, that if
        RES agrees, in its sole discretion, to remove your User Content, such
        User Content may not be completely removed, or may otherwise still be
        available to others in the following non-exclusive circumstances: (a)
        your User Content has been incorporated into derivative works, or
        compilations created by RES, or other parties; (b) such User Content has
        been retained in RES’s data backup systems, or for archival purposes; or
        (c) to the extent such User Content has been downloaded by other
        persons, and such persons retain your User Content.
      </p>

      <p><strong>Feedback</strong></p>
      <p>
        RES welcomes your comments, feedback, information, or materials
        regarding the website, Content, or RES’s products, or services
        (collectively, “<strong>Feedback</strong>”). If you submit Feedback to
        RES, please note that your Feedback shall become the property of RES. By
        submitting your Feedback to RES, you agree to assign, and hereby
        irrevocably assign to RES, all right, title, , and interest in, and to
        the Feedback, and all copyrights, and other intellectual property rights
        embodied in such Feedback on a worldwide basis. RES shall be free to use
        your Feedback on an unrestricted basis. You hereby assign and/or waive,
        as the case may be, any moral rights that you may have in, or to the
        Feedback.
      </p>

      <p><strong>Privacy</strong></p>
      <p>
        RES collects, stores, and uses data collected from you via the website
        in accordance with its Privacy Policy located on the website. The terms,
        and conditions of the Privacy Policy are hereby expressly incorporated
        into these Terms of Use.
      </p>

      <p><strong>Links</strong></p>
      <p>
        The website may provide, or third parties may provide, links to other
        websites, or resources on the Internet. Because RES has no control over
        such websites, or resources, you acknowledge, and agree that RES is not
        responsible for the availability of such external websites, or
        resources, and RES does not endorse, and is not responsible, or liable
        for any Content, advertising, products, or other materials on, or
        available from such websites or resources, or for any privacy, or other
        practices of the third parties operating those websites, or resources.
        You further acknowledge, and agree that RES shall not be responsible, or
        liable, directly, or indirectly, for any damage, or loss caused, or
        alleged to be caused by, or in connection with your use of, or reliance
        on any such Content, goods, or services available on, or through any
        such website, or resource. RES strongly encourages you to review any
        separate terms of use, and privacy policies governing use of these third
        party websites, and resources.
      </p>

      <p><strong>Purchases</strong></p>
      <p>
        Purchase of products, or services via the website, as applicable, are
        subject to the RES software, and services Licensing Agreement, Terms of
        Use, in addition to these Terms of Use, any product or service-specific
        license, or other agreements governing such products, or services, and
        any other master, end user, or license agreements between RES, and you
        and/or the entity you represent. The Purchase Terms, and Conditions are
        hereby expressly incorporated into these Terms of Use.
      </p>

      <p><strong>User Representations</strong></p>
      <p>
        You hereby represent, and warrant to RES that: (a) you (i) have reached
        the age of majority in the jurisdiction where you reside (generally 18,
        19, or 21 years of age depending on the jurisdiction), (ii) are an
        emancipated minor under the laws of your jurisdiction of domicile and/or
        residence, (iii) possess legal parental, or guardian consent, or (iv)
        otherwise have the power, and authority to enter into, and perform your
        obligations under these Terms of Use; (b) all information provided by
        you to RES is truthful, accurate, and complete; (c) you are an
        authorized signatory of the credit, or debit card, or other method of
        payment that you provide to RES, or its third-party payment processor to
        pay the purchase price, and any applicable fees, or taxes related to
        your purchases of products and/or services via the website; (d) you will
        comply with the terms, and conditions of these Terms of Use, and any
        other agreement to which you are subject that is related to your use of
        the website, Content, or any part thereof; (e) you have provided, and
        will maintain accurate, and complete registration information with RES,
        including, without limitation, your legal name, email address, and any
        other information RES may reasonably require; (f) your access to, and
        use of the website or any part thereof and/or purchase, and use of any
        products or services will not constitute a breach, or violation of any
        other agreement, contract, terms of use, or any law, or regulation to
        which you are subject; (g) you will immediately notify RES in the event
        that you learn, or suspect that your registration information, username,
        or password has been disclosed, or otherwise made known to any other
        person; (h) you will not use the website in order to gain competitive
        intelligence about RES, the website, or any product, or service offered
        by RES via the website, or to otherwise compete with RES, or its
        affiliates; and (i) if you purport to be the agent of, represent, or
        otherwise act on behalf of an entity, or any other person, that you are
        in fact an authorized representative of such entity, or other person,
        and have the authority to bind such entity, or other person to these
        Terms of Use. In the event that you post any User Content, or provide
        any Feedback via the website, you hereby make the following additional
        representations, and warranties to RES: (1) you are owner of such User
        Content, or Feedback, or otherwise have the right to grant RES the
        licenses, or assignments granted pursuant to these Terms of Use; (2) you
        have secured any, and all consents necessary to post the User Content,
        or Feedback, and to grant the foregoing licenses, or assignments; (3)
        the User Content, or Feedback does not violate the rights of any third
        party, including, without limitation, the intellectual property,
        privacy, or publicity rights of any third party, and such User Content,
        or Feedback does not contain any personally identifiable information
        about third parties in violation of such parties’ rights; (4) the use of
        any User Content, or Feedback will not result in harm, or personal
        injury to any third party; and (5) all factual information contained in
        the User Content, or Feedback is true, and accurate.
      </p>

      <p><strong>Prohibited Uses</strong></p>
      <p>
        You are solely responsible for any, and all acts, and omissions that
        occur under your account, or password, and you agree not to engage in
        unacceptable use of the website, or any part thereof, or any Content
        that you may post, or download via the website, which includes, without
        limitation: (a) use of the website to post, store, or disseminate
        material, or information that is, or to a reasonable person may be
        false, fraudulent, unlawful, harmful, tortious, abusive, obscene,
        pornographic, defamatory, libelous, harassing, invasive of another’s
        privacy, offensive, vulgar, threatening, malicious, hateful, or
        racially, ethnically or otherwise objectionable; (b) use of the website
        to post, store or disseminate Content, files, graphics, software, or
        other material, or information that actually, or potentially infringes
        the rights of any person, including, without limitation, the copyright,
        trademark, patent, trade secret, or other intellectual property rights,
        or privacy, moral, or publicity rights, of any person; (c) use of the
        website to interfere, disrupt, or attempt to gain unauthorized access to
        other accounts on the website, to Content, to restricted portions of the
        website, or any other computer network, or equipment; (d) use of the
        website to post, store or disseminate viruses, Trojan horses, or any
        other malicious code or programs designed to interrupt, destroy, or
        limit the functionality of any computer software, hardware, system, or
        telecommunications equipment; (e) use of the website to post, store, or
        disseminate any unsolicited, or unauthorized advertising, promotional
        materials, junk mail, spam, chain letters, pyramid schemes or other
        fraudulent schemes, or any other form of solicitation; (f) use of any
        manual, or automated software, devices, or other processes to “crawl”,
        or “spider” any web pages contained in the website (including, without
        limitation, the use of robots, bots, spiders, scrapers, or any other
        means to extract pricing, product, service, or other data from the
        website); (g) use of the website to gain competitive intelligence about
        RES, the website, or any product, or service offered by RES via the
        website, or to otherwise compete with RES, or its affiliates; (h)
        framing, or otherwise simulating the appearance, or functions of the
        website, or any portion thereof; (i) harvesting, or otherwise collecting
        any information about other users, including, without limitation, email
        addresses, or other contact information of other users; or (j) use of
        the website to engage in any activity that, as determined by RES, may
        violate these Terms of Use, violate any applicable laws, or regulations,
        or conflict with the spirit or intent of these Terms of Use.
      </p>

      <p><strong>Disclaimer </strong></p>
      <p>
        RES uses reasonable efforts to maintain the website, but RES is not
        responsible for any defects, or failures associated with the website,
        any part thereof, any Content posted using the website, or any damages
        (such as lost profits, or other consequential damages) that may result
        from any such defects, or failures. The website may be inaccessible, or
        inoperable for any reason, including, without limitation: (a) equipment
        malfunctions, (b) periodic maintenance procedures, or repairs which RES
        may undertake from time to time, or (c) causes beyond the control of RES
        or which are not foreseeable by RES. RES does not control the User
        Content posted by its users, nor does it have any obligation to monitor
        such User Content for any purpose. Despite the fact that it has no
        monitoring obligations, RES reserves the right to remove any, and all
        material that it feels is actually, or potentially inappropriate,
        offensive, illegal, or harmful in any respect or which may otherwise
        violate these Terms of Use. Because the User Content offered via the
        website is provided by other users, and because RES does not monitor, or
        exercise control over the User Content, RES does not make any
        warranties, or representations regarding any of the User Content offered
        via the website, or the quality thereof. RES does not necessarily
        approve, endorse, sanction, encourage, verify, or agree with any message
        posted by its users, or otherwise embodied in the Content. You
        understand that by using the website, you may be exposed to Content that
        may be offensive, indecent, vulgar, defamatory, or otherwise
        objectionable, and that in no way shall RES be liable under any theory
        for such exposure. RES is not a backup service for storing User Content,
        and RES shall have no liability regarding any loss of User Content. You
        are solely responsible for creating backups of any User Content you post
        using the website.
      </p>

      <p>PLEASE NOTE THE FOLLOWING IMPORTANT DISCLAIMERS OF WARRANTIES:</p>
      <p>
        TO THE MAXIMUM EXTENT ALLOWED BY LAW, THE WEBSITE, ANY CONTENT , AND ANY
        PRODUCTS, OR SERVICES PROVIDED VIA THE WEBSITE ARE PROVIDED “AS IS”, AND
        “AS AVAILABLE,”, AND AT YOUR SOLE RISK. TO THE MAXIMUM EXTENT ALLOWED BY
        LAW, RES EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER
        EXPRESS, OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE, OR PURPOSE,
        TITLE, AND NON-INFRINGEMENT. WITHOUT LIMITATION, RES MAKES NO WARRANTY
        THAT THE WEBSITE, ANY CONTENT, OR ANY PRODUCTS, OR SERVICES PROVIDED VIA
        THE WEBSITE WILL MEET YOUR REQUIREMENTS, THAT USE OF THE FOREGOING WILL
        BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, THAT THE RESULTS
        OBTAINED FROM THE USE OF THE FOREGOING, OR ANY INFORMATION FOUND THEREON
        WILL BE ACCURATE, OR RELIABLE, OR THAT THE QUALITY OF ANY CONTENT,
        PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL OBTAINED THROUGH THE
        WEBSITE WILL MEET YOUR EXPECTATIONS.
      </p>
      <p>
        ANY CONTENT, OR OTHER MATERIAL DOWNLOADED, OR OTHERWISE OBTAINED THROUGH
        THE USE OF THE WEBSITE IS DONE AT YOUR SOLE RISK, AND YOU WILL BE SOLELY
        RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, OR LOSS OF DATA THAT
        RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. FURTHER, PLEASE NOTE
        THAT NO ADVICE, OR INFORMATION, OBTAINED BY YOU THROUGH THE WEBSITE, OR
        ANY PRODUCT, OR SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY PROVIDED
        FOR IN THESE TERMS OF USE.
      </p>

      <p><strong>Release, and Limitation of Liability </strong></p>
      <p>
        TO THE MAXIMUM EXTENT ALLOWED BY LAW, YOU EXPRESSLY UNDERSTAND, AND
        AGREE THAT RES, AND ITS PARENT, SUBSIDIARY, AND RELATED COMPANIES , AND
        THEIR PERSONNEL SHALL NOT BE LIABLE FOR, AND YOU HEREBY RELEASE THE
        FOREGOING PARTIES FROM, ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
        CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES, INCLUDING WITHOUT
        LIMITATION, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER
        INTANGIBLE LOSSES (EVEN IF THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF
        SUCH DAMAGES), RESULTING FROM (A) THE USE, OR THE INABILITY TO USE THE
        WEBSITE, ANY CONTENT OR ANY PRODUCTS, OR SERVICES PURCHASED VIA THE
        WEBSITE; (B) THE COST OF PROCUREMENT OF SUBSTITUTE PRODUCTS, AND
        SERVICES RESULTING FROM ANY PRODUCTS, DATA, INFORMATION, OR SERVICES
        PURCHASED, OR OBTAINED, OR MESSAGES RECEIVED, OR TRANSACTIONS ENTERED
        INTO THROUGH, OR FROM THE WEBSITE, OR OTHERWISE; (C) UNAUTHORIZED ACCESS
        TO OR ALTERATION OF YOUR TRANSMISSIONS, CONTENT, OR DATA; OR (D) ANY
        OTHER MATTER RELATING TO THE WEBSITE, ANY CONTENT, OR THE PURCHASE OF
        RES’S PRODUCTS, OR SERVICES. IF YOU HAVE SUFFERED ANY OF THE ABOVE
        DESCRIBED DAMAGES, OR LOSSES, OR IF YOU ARE OTHERWISE DISSATISFIED WITH
        THE WEBSITE, YOUR SOLE, AND EXCLUSIVE REMEDY SHALL BE TO DISCONTINUE USE
        OF THE WEBSITE, AND TERMINATE THESE TERMS OF USE IN ACCORDANCE WITH
        THEIR TERMS. TO THE MAXIMUM EXTENT ALLOWED BY LAW, IN NO EVENT SHALL
        RES, AND ITS PARENT, SUBSIDIARY , AND RELATED COMPANIES, AND THEIR
        PERSONNEL’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES
        OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO,
        NEGLIGENCE) OR OTHERWISE) EXCEED THE AMOUNT PAID BY YOU, IF ANY, FOR
        ACCESSING THE WEBSITE, PURCHASING ANY CONTENT, OR PURCHASING RES’S
        PRODUCTS, OR SERVICES, OR ANY AMOUNT RETAINED BY RES FOR PROVIDING THE
        SERVICES.
      </p>
      <p>
        SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, OR
        THE LIMITATION, OR EXCLUSION OF LIABILITY FOR INCIDENTAL, OR
        CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS MAY
        NOT APPLY TO YOU.
      </p>

      <p><strong>Indemnification </strong></p>
      <p>
        You agree to defend, indemnify, and hold harmless RES, its parent,
        subsidiary, and affiliated companies, and their officers, members,
        directors, employees, and agents from, and against any, and all claims,
        liabilities, damages, losses, or expenses, including attorneys’ fees,
        and costs, and expenses, arising out of, or in any way connected with
        (a) your access to, or use of the website or any part thereof, (b) any
        User Content you post via the website, (c) a breach, or alleged breach
        by you of any of your representations, warranties, covenants, or
        obligations under these Terms of Use, (d) infringement, or
        misappropriation of any intellectual property, or other rights of RES,
        or third parties by you, (e) any negligence, or willful misconduct by
        you, (f) any other claim related to your performance under these Terms
        of Use, or (g) your use of any Content, services, or products provided
        by RES.
      </p>

      <p><strong>Term, and Termination </strong></p>
      <p>
        These Terms of Use are effective upon your unequivocal acceptance as set
        forth herein, and shall continue in full force until terminated. You
        agree that RES, in its sole discretion, may terminate your use of the
        website, or any part thereof at any time without notice, and remove, and
        discard any Content, in the event you violate these Terms of Use, or in
        the event your account has been inactive for an extended period of time
        in RES’s discretion. You agree that RES may immediately suspend your
        account, and your access to the website, or any part thereof without
        notice in order to conduct an investigation in the event it believes you
        have violated these Terms of Use, or if it determines that you are a
        repeat infringer of another’s intellectual property, or other rights.
        RES may also, in its sole discretion, and at any time, discontinue
        providing the website, any part thereof, any Content, or any products,
        or services advertised on the website, with or without notice. In
        addition to any other method of termination or suspension provided for
        herein, RES reserves the right to terminate these Terms of Use at any
        time, and for any reason. Further, you agree that RES shall not be
        liable to you, or any third-party for any termination, or suspension of
        your access to the website, or any part thereof, removal of Content, or
        sale of any products, or services. You may terminate these Terms of Use
        at any time by immediately discontinuing all access to the website , and
        by providing notice to RES of such discontinuance. Termination, or
        cancellation of these Terms of Use shall not affect any right, or relief
        to which RES may be entitled at law, or in equity. Upon termination of
        these Terms of Use, you shall terminate all use of the website, and any
        Content, products, or services provided thereon.
      </p>

      <p><strong>Governing Law, and Other Miscellaneous Terms </strong></p>
      <p>
        The validity, and effect of these Terms of Use shall be governed by,
        construed, and enforced in accordance with the laws of the state of
        California, without regard to its conflicts, or choice of laws
        principles. ANY SUIT, ACTION, OR PROCEEDING CONCERNING OR RELATING TO
        THE WEBSITE, ITS USE, THESE TERMS OF USE, ANY SALE OR ANY OTHER PRODUCT,
        SERVICE, POLICY, OR PROCEDURE OF RES, MUST BE BROUGHT EXCLUSIVELY IN A
        COURT LOCATED IN, OR EXERCISING JURISDICTION OVER LOS ANGELES COUNTY,
        CALIFORNIA, AND YOU HEREBY IRREVOCABLY CONSENT TO THE JURISDICTION OF
        SUCH COURT (AND OF THE APPROPRIATE APPELLATE COURTS THEREFROM) IN ANY
        SUCH SUIT, ACTION, OR PROCEEDING. YOU IRREVOCABLY WAIVE, TO THE FULLEST
        EXTENT PERMITTED BY APPLICABLE LAW, ANY OBJECTION WHICH YOU MAY NOW OR
        HEREAFTER HAVE TO THE LAYING OF VENUE OF ANY SUCH SUIT, ACTION OR
        PROCEEDING IN ANY SUCH COURT, OR THAT ANY SUCH SUIT, ACTION OR
        PROCEEDING WHICH IS BROUGHT IN ANY SUCH COURT HAS BEEN BROUGHT IN AN
        INCONVENIENT, OR IMPROPER FORUM. The United Nations Convention on
        Contracts for the International Sale of Goods, and the Uniform Computer
        Information Transactions Act shall not apply to these Terms of Use.
      </p>

      <p>
        The parties agree that breach of the provisions of these Terms of Use
        would cause irreparable harm, and significant injury to RES which would
        be both difficult to ascertain, and which would not be compensable by
        damages alone. As such, the parties agree that RES has the right to
        enforce the provisions of these Terms of Use by injunction (without
        necessity of posting bond), specific performance, or other equitable
        relief without prejudice to any other rights, and remedies RES may have
        for your breach of these Terms of Use. If any action at law, or in
        equity is necessary to enforce these Terms of Use, the prevailing party
        will be entitled to reasonable fees of attorneys, accountants, and other
        professionals, and costs, and expenses in addition to any other relief
        to which such prevailing party may be entitled. The captions, and
        headings of these Terms of Use are included for ease of reference only,
        and will be disregarded in interpreting, and construing these Terms of
        Use.
      </p>

      <p>
        If the performance of any part of these Terms of Use by either party
        (other than payment of money) is prevented, hindered, delayed, or
        otherwise made impracticable by reason of any flood, riot, fire,
        judicial, or governmental action, labor dispute, act of God,
        telecommunications failure, or any other cause beyond the control of
        either party, that party shall be excused from such performance to the
        extent that it is prevented, hindered or delayed by such cause. These
        Terms of Use, including any other product, or service-specific license
        agreements, any other master, end user, or license agreements between
        RES, and you and/or the entity you represent, and any additional terms
        referenced or incorporated herein, constitute the complete, and
        exclusive statement of the agreement between the parties with respect to
        the website, Content, and products, and services offered via the
        website, and unless otherwise expressly provided herein, they supersede
        any, and all prior, or contemporaneous communications, representations,
        statements, and understandings, whether oral or written, between the
        parties concerning the website, Content, and products, and services sold
        via the website. If any provision of these Terms of Use is found
        unlawful, or unenforceable in any respect, the court shall reform such
        provision so as to render it enforceable or, if it is not possible to
        reform such provision so as to make it enforceable, then delete such
        provision. As so reformed, or modified, the court shall fully enforce
        these Terms of Use. The provisions of these Terms of Use that by their
        content are intended to survive the expiration, or termination of these
        Terms of Use, including, without limitation, provisions governing
        ownership, and use of intellectual property, representations,
        disclaimers, warranties, liability, indemnification, governing law,
        jurisdiction, venue, remedies, rights after termination, and
        interpretation, will survive the expiration, or termination of these
        Terms of Use for their full statutory period. RES makes no
        representation that the website, Content, or other material or
        information on the website is appropriate to, or available in locations
        outside of the United States. You may not use the website, or export
        Content in violation of United States export laws, regulations, or
        restrictions. If you access the website from outside of the United
        States, you are responsible for compliance with all applicable laws.
      </p>

      <p><strong>Copyright, and Copyright Notices </strong></p>
      <p>
        RES respects the intellectual property of others, and we ask our users
        to do the same. If you believe that your work has been copied on the
        website in a way that constitutes copyright infringement, please provide
        RES’s Copyright Agent the following information:
      </p>
      <ul class="sublist">
        <li>
          an electronic, or physical signature of the owner, or person
          authorized to act on behalf of the owner of the copyright interest;
        </li>
        <li>
          a description of the copyrighted work that you claim has been
          infringed;
        </li>
        <li>
          a description of where the material that you claim is infringing is
          located on the website sufficient to allow us to locate the allegedly
          infringing material;
        </li>
        <li>your address, telephone number, and email address;</li>
        <li>
          a statement by you that you have a good faith belief that the disputed
          use is not authorized by the copyright owner, its agent, or the law;
          and
        </li>

        <li>
          a statement by you, made under penalty of perjury, that the above
          information in your notice is accurate, and that you are the copyright
          owner, or authorized to act on the copyright owner’s behalf.
        </li>
      </ul>
      <p>
        Please contact RES’s Copyright Agent for Notice of Claims of copyright
        infringement at: clientservices@revolutiones.com. Copyright owners, and
        agents acknowledge that failure to comply with all of the requirements
        of the foregoing may result in an invalidity of the Digital Millennium
        Copyright Act notice.
      </p>
      <p>
        Counter-Notice. If you believe that the User Content that was removed
        (or to which access was disabled) is not infringing, or that you have
        authorization from the copyright owner, the copyright owner’s agent, or
        pursuant to the law, to post, and use the User Content, you may send a
        counter-notice containing the following information to the Copyright
        Agent:
      </p>
      <ul class="sublist">
        <li>your physical, or electronic signature;</li>
        <li>
          identification of the User Content that has been removed, or to which
          access has been disabled, and the location at which the User Content
          appeared before it was removed, or disabled;
        </li>
        <li>
          a statement that you have a good faith belief that the User Content
          was removed, or disabled as a result of mistake, or a
          misidentification of the User Content; and
        </li>
        <li>
          your name, address, telephone number, and e-mail address, a statement
          that you consent to the jurisdiction of the federal court in the
          District of California, and a statement that you will accept service
          of process from the person who provided notification of the alleged
          infringement.
        </li>
      </ul>
      <p>
        If a counter-notice is received by the Copyright Agent, RES may send a
        copy of the counter-notice to the original complaining party informing
        that person that it may replace the removed User Content, or cease
        disabling it in 10 business days. Unless the copyright owner files an
        action seeking a court order against the person providing such User
        Content, the removed User Content may be replaced, or access to it
        restored, in 10 to 14 business days, or more after receipt of the
        counter-notice, at RES’s sole discretion.
      </p>
      <p><strong>How to Contact RES</strong></p>
      <p>
        If you have any comments, or questions, please do not hesitate to
        contact RES Client Services, at
        <a href="tel:818-562-7866">818-562-7866</a> or
        <a href="mailto:clientservices@revolutiones.com"
          >clientservices@revolutiones.com</a
        >.
      </p>
    </div>
  </section>
</div>
