<div class="background">
  <section class="page">
    <h1>Privacy Policy</h1>
    <ol>
      <li>
        <p>
          <strong
            >WHEN THIS PRIVACY STATEMENT APPLIES. If a Service you're using
            links to this Privacy Statement, this Statement applies to you.
          </strong>
        </p>
        <p>
          This Privacy Statement (“Statement”) applies to our web sites,
          products, and services (collectively, "Services") that link to this
          Statement. Revolution Business Services, LLC (“Licensor”) is the
          responsible entity for all Personal Information subject to this
          Statement for our Services targeted to prospects, customers, and their
          employees as stated below.
        </p>
      </li>
      <li>
        <p>
          <strong
            >WHAT WE DO WITH YOUR INFORMATION. We want to be clear about what
            information we collect, and how we use it to deliver our Services to
            you, operate our business, and help make our Services useful, more
            intelligent, and work better for you. We do not sell, or share your
            Personal Information with third parties for their own commercial
            uses without your consent.</strong
          >
        </p>
        <p>
          <strong>a) Types of Information We Collect.</strong> In connection
          with accessing our Services, we may collect information from you which
          can be used to identify you ("Personal Information"), such as your
          name, date of birth, social security number, shipping/billing address,
          email address, phone, username, and password.
        </p>

        <p>
          We collect information when you register, or open an account, sign in,
          purchase, or use a Service, call us for support, or give us feedback.
          We may also get information from other companies, or third parties,
          such as when you sync a third party account, or service with your
          Service, or when we may use service providers to supplement the
          Personal Information you give us (e.g., validate your mailing address)
          to help us maintain the accuracy of your data, and provide you with
          better service. We may also receive get information directly from your
          current, or past employer(s) to full-fill certain Services. Finally,
          we also collect content, or other information that you may provide, or
          create when you interact with our Services.
        </p>

        <p>
          Our Services may change over time, and we may introduce new features
          that may collect new, or different types of information.
        </p>

        <p>
          <strong>b) How We Use Your Information.</strong> Unless prohibited by
          law, regulation, or a contractual obligation, we may use your
          information, including your Personal Information, for the following
          purposes: <u>Account Registration</u>. We may use your name, address,
          phone number, and email address to register your Account for certain
          <u>Services we provide</u>, and to communicate important information
          to you. We may obtain additional Personal Information about you, such
          as address change information, from commercially available sources, to
          keep our records current. If you set up an administrator account that
          may be accessed by people other than you, please note that they may
          see, and have the ability to change, or delete your Personal
          Information.
        </p>

        <p>
          <u>Communicate with You, and Tell You About Other Services</u>. We may
          use your information to communicate with you about our Services, and
          to give you offers for third party products, and services that we
          think may be of use to you. Please see below under "<u
            >What You Can Do to Manage Your Privacy</u
          >" for the choices you have regarding these communications.
        </p>

        <p>
          <u>To Improve Services, and Develop New Services</u>. We will use your
          information to personalize, or customize your experience, and the
          Service, develop new features, or services, and to improve the overall
          quality of Licensor 's Services.
        </p>

        <p>
          <u>To Provide Our Services, and Operate Our Business</u>. We may use
          your information to operate our business, including providing Services
          you requested, Services your employer requested, provide you with
          support related to our Services, and to help us protect our Services,
          including to combat fraud, and protect your information.
        </p>

        <p>
          <u>Customer Service, and Technical Support</u>. We may use your name,
          address, phone number, email address, how you interact with our
          Services, and information about your computer configuration to resolve
          questions you may have about our Services, and to follow up with you
          about your experience. We also offer various Internet chat services,
          for example, to speak with a Licensor support representative, or tax
          advisor. Internet Chat transmissions are encrypted but you should not
          supply more Personal Information, including tax data, than is required
          to address your specific issue. A transcript of the session is
          retained to resolve questions, or issues related to our Services.
        </p>

        <p>
          <u>Feedback</u>. We may use any information you volunteer in surveys
          you answer for us, and combine them with answers from other customers
          in order to better understand our Services, and how we may improve
          them. Answering any survey is optional.
        </p>

        <p>
          <u
            >Research, Including Publishing, or Sharing Combined Information
            from Many Users, But Only in a Way that Would Not Allow You, or Any
            Other Person to be Identified</u
          >. Only in a way that would not allow you or any other person to be
          identified, we may prepare, and share information about our customers
          with third parties, such as advertisers or partners, for research,
          academic, marketing and/or promotional purposes. For example, we may
          share demographic data that describes the percentage of our customers
          who use mobile services, or who use a particular operating system. We,
          or our third party partners may publicly report the aggregated
          findings of the research, or analysis, but only in a way that would
          not allow you, or any other person to be identified.
        </p>

        <p>
          <strong>c) Licensor Single Sign-On (Licensor Account).</strong>
          Licensor Single Sign-on is a Service that allows you to sign-in to a
          variety of Licensor Services with a single Licensor Account. We will
          collect certain information for security purposes in order to verify
          your authorized access to an account, or to reset your password if you
          cannot access your Licensor account. Some Services may require added
          security, and you may be asked to provide additional information. The
          email address, and password that you use to sign up for a Licensor
          account are your "credentials" that you will use to authenticate with
          our network. We assign a unique ID number to your credentials to track
          you, and your associated information. Licensor Services do not allow
          sharing of accounts between users, or individuals.
        </p>

        <p>
          <strong>d) How We Share Your Personal Information.</strong>
          From time to time, we may need to share your Personal Information with
          others.
        </p>

        <p>
          <u>Third Party Service Providers</u>. We may share your information,
          including Personal Information, and Usage Data, with third party
          service providers who perform various functions to enable us to
          provide our Services, and help us operate our business, such as tax
          form creation, and distribution (1099s, 1095-Cs, W-2s, etc.), website
          design, sending email communications, fraud detection, and prevention,
          customer care, or performing analytics. Our contracts with these third
          parties require them to maintain the confidentiality of the Personal
          Information we provide to them, only act on our behalf, and under our
          instructions, and not use Personal Information for purposes other than
          the product, or service they're providing to us, or on our behalf.
        </p>

        <p>
          <u>Response to Subpoenas, and Other Legal Requests</u>. We may share
          your information with courts, law enforcement agencies, or other
          government bodies when we have a good faith belief we're required, or
          permitted to do so by law, including to meet national security, or law
          enforcement requirements, to protect our company, or to respond to a
          court order, subpoena, search warrant, or other law enforcement
          request.
        </p>

        <p>
          <u>Protection of Licensor, and Others</u>. We may share account
          information, Personal Information, and Usage Data when we believe it
          is appropriate to enforce, or apply our products' Terms of Service,
          and other agreements; or protect the rights, property, or safety of
          Licensor, our Services, our users, or others. This includes exchanging
          information with other companies, and organizations for fraud
          protection, and credit risk reduction. This does not include selling,
          renting, sharing, or otherwise disclosing Personal Information of our
          customers for commercial purposes in violation of the commitments set
          forth in this Privacy Statement.
        </p>

        <p>
          <u>Reporting to Credit Bureaus</u>. We may share your information with
          credit bureaus, consumer reporting agencies, and card associations.
          Late payments, missed payments, or other defaults on your account may
          be reflected in your credit report, and consumer report. We may also
          share your information with other companies, lawyers, credit bureaus,
          agents, government agencies, and card associations in connection with
          issues related to fraud, credit, or debt collection.
        </p>

        <p>
          <u>Information Sharing Between Licensor Entities</u>. We share your
          information, including your Personal Information, with, and among our
          affiliates, and subsidiaries, except where prohibited by law,
          regulation, or a contractual obligation. The protections provided in
          this Privacy Statement apply across all Licensor entities. Affiliates,
          and subsidiaries means companies related by common ownership, or
          control. The reasons why we share your information include for our
          everyday business purposes, such as to: process your transactions,
          maintain your accounts, operate our business, facilitate Licensor sign
          on to your Licensor Account, etc. We will also share your information
          in order for us to be able to offer our products, and services to you.
          We may also share information about your creditworthiness, your
          transactions, and experience so that we can operate our business
          effectively, detect, and prevent fraud, and improve our Services.
        </p>

        <p>
          <u>Sale of Our Business</u>. If we sell, merge, or transfer any part
          of our business, we may be required to share your information. If so,
          you will be asked if you'd like to stop receiving promotional
          information following any change of control.
        </p>

        <p>
          <u>With your Consent</u>. Other than as set out above, we will provide
          you with notice, and the opportunity to choose when your Personal
          Information may be shared with other third parties.
        </p>
      </li>
      <li>
        <p>
          <strong
            >WHAT YOU CAN DO TO MANAGE YOUR PRIVACY. You can view, and edit
            information that identifies you online through your Licensor
            Service. How you can access, and control information that identifies
            you will depend on which Services you use. You have a choice about
            the use of information that identifies you, marketing communications
            you receive from us, and our use of cookies, and other tracking
            technologies.</strong
          >
        </p>
        <p>
          <strong>a) Updating Your Personal Information.</strong> In connection
          with your right to manage your Personal Information you provide to us,
          you may access, update, change, correct or request deletion of your
          information either through the Service, or through our customer
          support. You can reach our customer support by using the contact
          information provided in the "<u>How to Contact Us</u>" section of this
          statement.
        </p>
      </li>
      <li>
        <p>
          <strong>DATA RETENTION, AND YOUR ACCESS RIGHTS</strong><br />
          <strong>a) Data Retention.</strong> In accordance with, and as
          permitted by applicable law, and regulations, we will retain your
          information as long as necessary to serve you, to maintain your
          account for as long as your account is active, or as otherwise needed
          to operate our business. When you close your account, we may continue
          to communicate with you about our Services, give you important
          business updates that may affect you, and let you know about products,
          and services that may interest you, unless you have opted out of
          receiving marketing communications. We may also continue to use some
          of your information for business purposes, and to improve our,
          offerings, or in some cases to develop new ones. We will retain, and
          use your information as required by applicable regulations, and
          Licensor records, and information management policies to comply with
          our legal, and reporting obligations, resolve disputes, enforce our
          agreements, complete any outstanding transactions, and for the
          detection, and prevention of fraud.
        </p>
        <p>
          <strong>b) Your Access Rights.</strong> If you have created an online
          account with us, and would like to update the Personal Information you
          have provided to us, you can access your account to view, and make
          changes, or corrections to your Personal Information.
        </p>
      </li>
      <li>
        <p>
          <strong
            >SECURITY OF YOUR INFORMATION. Keeping your Information safe is
            important to us.</strong
          >
          We provide reasonable, and appropriate security measures in connection
          with securing Personal Information we collect. For example, we:
        </p>
        <ul class="sublist">
          <li>
            Constantly work to update our security practices to implement
            accepted best methods to protect your
          </li>

          <li>
            Personal Information, and review our security procedures carefully.
          </li>
          <li>Comply with applicable laws, and security standards.</li>
          <li>Securely transmit your sensitive Personal Information.</li>
          <li>Train our staff, and require them to safeguard your data.</li>
          <li>
            Transmit, store, protect, and access all cardholder information in
            compliance with the Payment Card Industry's Data Security Standards.
          </li>
        </ul>
      </li>
      <li>
        <p>
          <strong
            >HOW TO CONTACT US. If you have questions, or comments about this
            Privacy Statement, please contact us. We want your feedback, and
            comments.</strong
          >
        </p>
        <p>
          <strong>a) Via Email</strong>. If you have questions or complaints
          regarding our Privacy Statement, or practices, please contact us by
          email at
          <a href="mailto:clientservices@revolutiones.com"
            ><u>clientservices@revolutiones.com</u></a
          >.
        </p>
        <p>
          <strong>b) Via Direct Mail</strong>. Revolution Business Services, LLC
          (“Licensor”) , Attention: Privacy, 201 N. First Street, Burbank, CA
          91502.
        </p>
      </li>

      <li>
        <p>
          <strong
            >CHANGES TO OUR PRIVACY STATEMENTS. From time to time we may change,
            or update our Privacy Statements. We reserve the right to make
            changes, or updates at any time. More information about how we will
            notify you is below.</strong
          >
        </p>
        <p>
          If we make material changes to the way we process your Personal
          Information, we will provide you notice via our Service, or by other
          communication channels, such as by email, or community post. Please
          review any changes carefully. If you object to any of the changes, and
          no longer wish to use our Services, you may close your account(s). All
          changes are effective immediately upon posting, and your use of our
          Service after a notice of material change, or posting of an updated
          Privacy Statement shall constitute your consent to all changes.
        </p>
      </li>
      <li>
        <p>
          <strong>YOUR CALIFORNIA PRIVACY RIGHTS.</strong><br />
          We do not share your Personal Information with third parties for their
          marketing purposes without your consent.
        </p>
      </li>
    </ol>
  </section>
</div>
