<section class="entertainment_section">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 entertainment_image" data-aos="fade-right"
              data-aos-duration="2000">
              <p><img src="https://procalwebsite.s3-us-west-2.amazonaws.com/home-banner.png" class="img-responsive"></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 entertainment_content" data-aos="fade-left"
              data-aos-duration="2000">
              <h2>A Calendar Program Made for Film, TV and Commercial Production</h2>
              <p>The new industry leading web-based production calendar application developed with input from film, television and commercial professionals.  Schedule your productions and share effortlessly with your team. Anytime. Anywhere.</p>
              <h4><i class="fa fa-phone text-light"></i> &nbsp; 800-985-9238</h4>
              <h4><i class="fa fa-envelope"></i> &nbsp;info@revolutiones.com</h4>
          </div>
          <div class="home_arrow">
              <p><a href="#video_section"><img src="https://procalwebsite.s3-us-west-2.amazonaws.com/home-scroll-icon.png"></a></p>
          </div>
      </div>
  </div>
</section>
<section class="v-header " id="video_section">
  <div class="fullscreen-video-wrap ">
      <video class="" id="myVideo" #videoElement width="100%" height="100%" autoplay loop [muted]="'muted'"
          [controls]="playFullVideo.isFullVideo">
          <source type="video/mp4" data-src="https://procalwebsite.s3-us-west-2.amazonaws.com/procal-presentation.mp4"
              src="https://procalwebsite.s3-us-west-2.amazonaws.com/procal-presentation.mp4">
      </video>
  </div>
  <div class="header-content">
      <button *ngIf="playFullVideo.isFullVideo" type="button " class="close pull-right videoclose_btn"
          aria-label="Close" (click)="hideVideo()" id="videoclosebtn">
          <span aria-hidden="true">&times;</span>
      </button>
      <div id="video_content">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">

                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12 video_rightcontent">
                      <h1 data-aos="fade-left">WHAT IT DOES</h1>
                      <p class="video_p">Have two minutes? Watch this short video to get the big picture.</p>
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 video_images">
                              <div class="col-md-1 col-sm-2 col-xs-2" style="padding: 0;">
                                  <p class="video_circle"><img src="https://procalwebsite.s3-us-west-2.amazonaws.com/video-circle.png"></p>
                              </div>
                              <div class="col-md-11 col-sm-10 col-xs-10" style="padding: 0;">
                                  <p class="video_line">
                                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/video-line.jpg" data-aos="fade-left"
                                          data-aos-duration="2000"></p>
                              </div>
                          </div>
                      </div>

                      <div>
                          <p class="videop videoplay" data-aos="fade-left">
                              <button (click)="openModal(video)">Play entire video >></button>
                          </p>
                          <p class="videop" data-aos="fade-left">
                              <button onclick="toggleMute();"
                                  (click)="listaudio()">{{listentitle?'Listen audio >>': 'Mute audio'}}</button>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="motion-picture banner-down" style="background: rgb(245,245,245);">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 col-md-offset-2 col-xs-offset-0">
              <div class="design">
                  <h2>Designed For the Motion Picture Production Industry.</h2>
                  <p>Whether it’s a commercial, a music video, a TV series, or a feature film – scheduling one can
                      be a
                      headache. With the ever-evolving production schedules, it’s critical to use technology that
                      allows
                      the user to get the job done at the speed of production. ProCal does just that without being
                      overly
                      complicated. </p>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="motion-picture banner-down" style="background: #fff">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <div class="parent-div" data-aos="fade-right" data-aos-duration="2000">
                  <div class="child-div">
                      <h2>Simple to Use. <br>For Complex Scheduling.</h2>
                      <ul>
                          <li>Setup new calendars and invite users in seconds.</li>
                          <li>Create customizable categories and events for better organization.</li>
                          <li>Print to PDF and share with third-parties instantly. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" data-aos="fade-left" data-aos-duration="2000">
              <img data-aos="fade-left" src="https://procalwebsite.s3-us-west-2.amazonaws.com/simpletouse.png" class="img-responsive"
                  alt="first-event">
          </div>
      </div>
  </div>
  <section class="testimonial">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-0">
                  <div class="row">
                      <div class="col-md-3 col-sm-3 col-xs-12">
                          <div class="testimonial-avatar" data-aos="fade-up" data-aos-duration="2000">
                              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/testimonials.png" alt="Jessica Watson"
                                  class="img-responsive">
                          </div>
                      </div>
                      <div class="col-md-9 col-sm-9 col-xs-12">
                          <div class="panel" data-aos="fade-up" data-aos-duration="2000">
                              <div class="panel-body">
                                  <p class="testimonial-text">In a position that relies heavily on creating functional and flexible production calendars, ProCal is proving to be an essential tool.  The easy to use interface and ability to have multiple shared calendars in one location, has made the scheduling process for productions not only easier, but incredibly more efficient.  As anyone responsible for tracking the ever changing dynamics of a production’s schedule will know, this software has been missing in the industry for far too long.</p>
                              </div>
                              <div class="panel-footer">
                                  <h4> <strong>Jeff Anderson</strong></h4>
                                  <small>Executive In Charge of Production</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>
<section class="motion-picture" style="background: rgb(245,245,245);">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 hidden-xs">
              <div class="" data-aos="fade-right" data-aos-duration="2000">
                  <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/reschedule.png" class="img-responsive"
                      alt="first-event">
              </div>
          </div>
          <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 mL20 order-xs-first">
              <div class="parent-div" data-aos="fade-right" data-aos-duration="2000">
                  <div class="child-div">
                      <h2>Reschedule with Ease.</h2>
                      <ul>
                          <li>With a couple of clicks, move some or all events to accommodate production changes.</li>
                          <li>Snapshots allow for saving versions of a calendar at various stages.</li>
                          <li>Drag and drop events for an intuitive calendar building experience. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="hidden-sm hidden-md hidden-lg col-xs-12">
              <div class="" data-aos="fade-right" data-aos-duration="2000">
                  <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/reschedule.png" class="img-responsive"
                      alt="first-event">
              </div>
          </div>
      </div>
  </div>
  <section class="testimonial">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-0">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="testimonial-avatar" data-aos="fade-up" data-aos-duration="2000">
                              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/testimonials.png" class="img-responsive">
                          </div>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                          <div class="panel" data-aos="fade-up" data-aos-duration="2000"
                              style="background: rgb(245,245,245) !important">
                              <div class="panel-body">
                                  <p class="testimonial-text">ProCal has changed everything about my production
                                      schedule workflow - for the better. Making and, even more importantly, revising
                                      and shifting schedules is easier than it’s ever been. I run unscripted
                                      television series and our schedules are always changing - especially now.
                                      ProCal’s functionality is ideal for this. There is simply no product like it or
                                      even close to it - nor has there ever been. I recommend it to every EIC & VP I
                                      work with and they all thank me.</p>
                              </div>
                              <div class="panel-footer" style="background: rgb(245,245,245) !important">
                                  <h4> <strong>Jeffrey L. Weaver</strong></h4>
                                  <small>Show Runner / Executive Producer</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>
<section class="motion-picture" style="background: #fff">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <div class="parent-div" data-aos="fade-right" data-aos-duration="2000">
                  <div class="child-div">
                      <h2>Master Calendar Reports.</h2>
                      <ul>
                          <li>Run reports to show all calendars in a single slide.</li>
                          <li>Customize themes to differentiate between two or more calendars. </li>
                          <li>Hide/Unhide categories and events to only display things you want to see.</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/mastercalendar.png" class="img-responsive" alt="first-event"
                  data-aos="fade-left" data-aos-duration="2000">
          </div>
      </div>
  </div>
  <section class="testimonial">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-xs-12 col-sm-10 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-0">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="testimonial-avatar" data-aos="fade-up" data-aos-duration="2000">
                              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/testimonials.png" alt="Jessica Watson"
                                  class="img-responsive">
                          </div>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                          <div class="panel" data-aos="fade-up" data-aos-duration="2000">
                              <div class="panel-body">
                                  <p class="testimonial-text">I've scheduled over a hundred episodes of television
                                      during the past decade and have been looking for a calendar program that makes
                                      my life easier not harder. Many of the existing programs are clunky and force
                                      you to sacrifice either functionality or design. With ProCal, I'm able to easily
                                      manipulate the information I need without having to create multiple versions for
                                      networks, internal use, etc., and it is pretty too. Thank you ProCal! I'm a fan.
                                  </p>
                              </div>
                              <div class="panel-footer">
                                  <h4> <strong>Kelly Rose</strong></h4>
                                  <small>Post Producer</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>
<section class="motion-picture" style="background: rgb(245,245,245);">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-6 co-lg-6 col-xs-12 hidden-xs">
              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/holidays.png" class="img-responsive" alt="first-event"
                  data-aos="fade-right" data-aos-duration="2000">
          </div>
          <div class="col-md-5 col-sm-5 co-lg-5 mL20 col-xs-12">
              <div class="parent-div" data-aos="fade-left" data-aos-duration="2000">
                  <div class="child-div">
                      <h2>Customize Holiday Schedules.</h2>
                      <ul>
                          <li>Select holidays per country.</li>
                          <li>Union holiday schedules available for major guilds and locals. </li>
                          <li>Create your own holidays and create dark days.</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="hidden-sm hidden-md hidden-lg col-xs-12">
              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/holidays.png" class="img-responsive" alt="first-event"
                  data-aos="fade-right" data-aos-duration="2000">
          </div>
      </div>
  </div>
  <section class="testimonial">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-xs-12 col-sm-10 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-0">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <div class="testimonial-avatar" data-aos="fade-up" data-aos-duration="2000">
                              <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/testimonials.png" alt="Jessica Watson"
                                  class="img-responsive">
                          </div>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                          <div class="panel" data-aos="fade-up" data-aos-duration="2000"
                              style="background: rgb(245,245,245) !important">
                              <div class="panel-body">
                                  <p class="testimonial-text">ProCal is the perfect calendar solution for all production companies. The ability to have all of our shows scheduled in one program and designate user access is unprecedented. Every new team member that we add to this program is relieved that there is finally a one stop location to build, manage, and easily organize every day on each show.
                                  </p>
                              </div>
                              <div class="panel-footer" style="background: rgb(245,245,245) !important">
                                  <h4> <strong>Alicia Ashby</strong></h4>
                                  <small>VP of Production</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</section>
<section class="home_services" id="services">
  <h2>MORE FUNCTIONALITY</h2>
  <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/home-line.jpg">
  <p class="large-font-p">A quick snapshot of what ProCal offers to support your ever-evolving productions. </p>
  <div class="container services">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;">
                  <div class="wrapper">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                          <g id="Computer">
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="1"
                                  stroke-miterlimit="10"
                                  d="M57,2H7A5.006,5.006,0,0,0,2,7V45a5.006,5.006,0,0,0,5,5H23.557l-2.25,6H19a3,3,0,0,0-3,3v2a1,1,0,0,0,1,1H47a1,1,0,0,0,1-1V59a3,3,0,0,0-3-3H42.693l-2.25-6H57a5.006,5.006,0,0,0,5-5V7A5.006,5.006,0,0,0,57,2ZM7,4H57a3,3,0,0,1,3,3V38H4V7A3,3,0,0,1,7,4ZM46,59v1H18V59a1,1,0,0,1,1-1H45A1,1,0,0,1,46,59Zm-5.443-3H23.443l2.25-6H38.307ZM57,48H7a3,3,0,0,1-3-3V40H60v5A3,3,0,0,1,57,48Z" />
                              <path d="M32,41a3,3,0,1,0,3,3A3,3,0,0,0,32,41Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,32,45Z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border">
                      <h4 class="large-font-h4">Web Based</h4>
                      <P class="large-font-p ">Access anywhere, anytime with as many users. No need to download
                          software.</P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10"
                                  d="M18.1,67.6H8.6C6.1,67.6,4,65.5,4,63v-4.6
                         c0-5.1,4.1-9.3,9.3-9.3h9.3c2.5,0,4.8,1,6.5,2.7C23.2,55,19.1,60.7,18.1,67.6z M8.6,35.2c0-5.1,4.1-9.3,9.3-9.3s9.3,4.1,9.3,9.3
                         s-4.1,9.3-9.3,9.3S8.6,40.3,8.6,35.2z M78,70.4v4.2c0,3.8-3.1,6.9-6.9,6.9H29.4c-3.8,0-6.9-3.1-6.9-6.9v-4.2
                         c0-9.2,7.5-16.6,16.6-16.6h1.2c3,1.4,6.3,2.3,9.9,2.3c3.6,0,6.9-0.9,9.9-2.3h1.2C70.5,53.7,78,61.2,78,70.4z M34.1,32.9
                         c0-8.9,7.2-16.2,16.2-16.2c8.9,0,16.2,7.2,16.2,16.2c0,8.9-7.2,16.2-16.2,16.2C41.3,49.1,34.1,41.8,34.1,32.9z M96.5,58.3V63
                         c0,2.6-2.1,4.6-4.6,4.6h-9.5c-0.9-6.9-5-12.6-10.9-15.8c1.7-1.7,4-2.7,6.5-2.7h9.3C92.4,49.1,96.5,53.2,96.5,58.3z M73.4,35.2
                         c0-5.1,4.1-9.3,9.3-9.3c5.1,0,9.3,4.1,9.3,9.3s-4.1,9.3-9.3,9.3C77.5,44.5,73.4,40.3,73.4,35.2z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border servicesinner_last">
                      <h4 class="large-font-h4">User Management</h4>
                      <P class="large-font-p services_labor">Enhanced user permissions allows for control over who has
                          create/read/write access to various calendars.
                      </P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner " style="padding: 0 0;"
                  data-aos="fade-zoom-in">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10" d="M97.5,60.8c0,8.7-2.3,16.8-6.4,23.8
                     c-0.9,1.6-2.7,2.5-4.5,2.5H13.9c-1.8,0-3.6-0.9-4.5-2.5C5.3,77.6,3,69.5,3,60.8c0-26.1,21.2-47.3,47.3-47.3S97.5,34.7,97.5,60.8z
                      M24,66.1c0-2.9-2.4-5.3-5.3-5.3s-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3S24,69,24,66.1z M31.9,39.8c0-2.9-2.4-5.3-5.3-5.3
                     s-5.3,2.4-5.3,5.3s2.4,5.3,5.3,5.3S31.9,42.7,31.9,39.8z M64.6,28.2c-2.1-0.7-4.3,0.4-5,2.5L49.6,60.9c-5.5,0.4-9.8,4.9-9.8,10.4
                     c0,1.9,0.6,3.7,1.5,5.3h18.1c0.9-1.6,1.5-3.3,1.5-5.3c0-3.2-1.5-6-3.7-7.9l10.1-30.2C67.8,31.1,66.7,28.9,64.6,28.2z M45,29.3
                     c0,2.9,2.4,5.3,5.3,5.3c1.1,0,2.1-0.4,2.9-1l1.5-4.5c0.1-0.4,0.4-0.7,0.6-1.1c-0.6-2.2-2.6-3.9-5-3.9C47.4,24.1,45,26.4,45,29.3z
                      M73.9,45.1c2.9,0,5.3-2.4,5.3-5.3s-2.4-5.3-5.3-5.3c-0.6,0-1.2,0.2-1.8,0.4l-2.5,7.6C70.4,44.1,72,45.1,73.9,45.1z M87,66.1
                     c0-2.9-2.4-5.3-5.3-5.3c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3C84.6,71.3,87,69,87,66.1z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border servicesinner_last">
                      <h4 class="large-font-h4">Speed</h4>
                      <P class="large-font-p">Easily create, cut/paste, drag/drop, hide/unhide, and
                          move events for quicker calendar building.
                      </P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10" d="M88.8,24.8v61.9c0,4.7-3.8,8.4-8.4,8.4H18.4
                     c-4.7,0-8.4-3.8-8.4-8.4V24.8c0-4.7,3.8-8.4,8.4-8.4h8.4V7.2c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v9.1h22.5V7.2
                     c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v9.1h8.4C85,16.3,88.8,20.1,88.8,24.8z M80.3,85.6V33.2H18.4v52.4
                     c0,0.6,0.5,1.1,1.1,1.1h59.8C79.8,86.6,80.3,86.2,80.3,85.6z M45,76.2c-0.8,0.8-2.2,0.8-3,0L28.8,62.9c-0.8-0.8-0.8-2.2,0-3l4-4
                     c0.8-0.8,2.2-0.8,3,0l7.8,7.8L63,44.4c0.8-0.8,2.2-0.8,3,0l4,4c0.8,0.8,0.8,2.2,0,3L45,76.2z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border noBorder">
                      <h4 class="large-font-h4">Merge Calendars</h4>
                      <P class="large-font-p services_p">Production and post-production calendars can be created
                          separate and later merged.
                      </P>
                  </div>
              </div>
          </div>
  </div>
  <div class="border_bottom">
  </div>
  <div class="container services">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10" d="M19.8,29.9l-2.7,2.7c-0.8,0.8-2.3,0.8-3.1,0
                         l-8.4-8.3c-0.8-0.8-0.8-2.2,0-3l2.8-2.8c0.8-0.8,2.2-0.8,3,0l4,3.9l11.2-11.1c0.8-0.8,2.2-0.8,3,0l3,2.9c0.8,0.8,0.8,2.2,0,3
                         L19.8,29.9z M19.8,58l-2.8,2.8c-0.8,0.8-2.3,0.8-3.1,0l-8.3-8.3c-0.8-0.8-0.8-2.2,0-3l2.8-2.8c0.8-0.8,2.2-0.8,3,0l4,3.9l11.2-11.2
                         c0.8-0.8,2.2-0.8,3,0l3,3c0.8,0.8,0.8,2.1,0,3L19.8,58z M24.7,78.2c0,4.7-3.8,8.4-8.4,8.4s-8.5-3.8-8.5-8.4s3.9-8.4,8.5-8.4
                         S24.7,73.6,24.7,78.2z M38.8,25.5v-7c0-1.5,1.3-2.8,2.8-2.8h50.6c1.5,0,2.8,1.3,2.8,2.8v7c0,1.5-1.3,2.8-2.8,2.8H41.6
                         C40,28.3,38.8,27,38.8,25.5z M38.8,53.6v-7c0-1.5,1.3-2.8,2.8-2.8h50.6c1.5,0,2.8,1.3,2.8,2.8v7c0,1.5-1.3,2.8-2.8,2.8H41.6
                         C40,56.4,38.8,55.1,38.8,53.6z M38.8,81.7v-7c0-1.5,1.3-2.8,2.8-2.8h50.6c1.5,0,2.8,1.3,2.8,2.8v7c0,1.5-1.3,2.8-2.8,2.8H41.6
                         C40,84.5,38.8,83.3,38.8,81.7z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border">
                      <h4 class="large-font-h4">Recurring Events</h4>
                      <P class="large-font-p services_payroll">Create events that recur weekly or monthly with
                          chronological
                          numbering.</P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;"
                  data-aos="fade-zoom-in">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10" d="M88.8,86.6c0,4.7-3.8,8.4-8.4,8.4H18.4
  c-4.7,0-8.4-3.8-8.4-8.4V24.8c0-4.7,3.8-8.4,8.4-8.4h8.4V7.2c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v9.1h22.5V7.2
  c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v9.1h8.4c4.7,0,8.4,3.8,8.4,8.4V86.6z M80.3,33.2H18.4v52.4c0,0.6,0.5,1.1,1.1,1.1
  h59.8c0.6,0,1.1-0.5,1.1-1.1V33.2z M29,55.7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  c0,1.2-0.9,2.1-2.1,2.1H29z M36,72.6h-7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  C38.1,71.6,37.2,72.6,36,72.6z M52.9,55.7h-7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  C55,54.8,54.1,55.7,52.9,55.7z M52.9,72.6h-7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  C55,71.6,54.1,72.6,52.9,72.6z M69.8,55.7h-7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  C71.9,54.8,70.9,55.7,69.8,55.7z M69.8,72.6h-7c-1.2,0-2.1-0.9-2.1-2.1v-7c0-1.2,0.9-2.1,2.1-2.1h7c1.2,0,2.1,0.9,2.1,2.1v7
  C71.9,71.6,70.9,72.6,69.8,72.6z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border">
                      <h4 class="large-font-h4">First and Last Day</h4>
                      <P class="large-font-p services_payroll">Mark and display total production days for the
                          calendar. From Pre to Post.</P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;"
                  data-aos="fade-zoom-in">
                  <div class="wrapper">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                          enable-background="new 0 0 100 100" xml:space="preserve">
                          <g>
                              <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="2"
                                  stroke-miterlimit="10" d="M95,50.1v19.7c0,1.6-1.3,2.8-2.8,2.8h-8.4v16.9
c0,3.1-2.5,5.6-5.6,5.6H21.9c-3.1,0-5.6-2.5-5.6-5.6V72.6H7.8c-1.6,0-2.8-1.3-2.8-2.8V50.1c0-6.2,5-11.3,11.3-11.3V10.7
c0-3.1,2.5-5.6,5.6-5.6h48.3c1.5,0,2.9,0.6,4,1.6l8,8c1.1,1.1,1.6,2.5,1.6,4v20.2C90,38.8,95,43.9,95,50.1z M72.5,27.6h-8.4
c-1.6,0-2.8-1.3-2.8-2.8v-8.4H27.5v28.1h45V27.6z M72.5,67h-45v16.9h45V67z M85.2,52.9c0-2.3-1.9-4.2-4.2-4.2s-4.2,1.9-4.2,4.2
c0,2.3,1.9,4.2,4.2,4.2S85.2,55.2,85.2,52.9z" />
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border">
                      <h4 class="large-font-h4">Printing</h4>
                      <P class="large-font-p  ">Print calendars with custom header/footers and various date ranges for
                          internal or external sharing.</P>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 services_inner" style="padding: 0 0;"
                  data-aos="fade-zoom-in">
                  <div class="wrapper">

                      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496"
                          style="enable-background:new 0 0 496 496;" xml:space="preserve">
                          <g>
                              <g>
                                  <path fill="none" class="svgpath" stroke="#3299DA" stroke-width="10"
                                      stroke-miterlimit="10" d="M402.524,432l-18.52-55.568c-6.472-19.4-22.984-33.72-43.112-37.384l-53.464-9.728v-4.144
    c9.304-5.4,17.4-12.624,23.848-21.176h16.152c13.232,0,24-10.768,24-24v-96c0-57.344-46.656-104-104-104s-104,46.656-104,104v56
    c0,15.424,10.968,28.328,25.512,31.336c4.488,22.992,18.856,42.448,38.488,53.84v4.144l-53.472,9.728
    c-20.12,3.664-36.64,17.984-43.104,37.384l-3.2,9.608l-27.248-27.248c-3.12-3.12-3.12-8.2,0-11.32l31.6-31.592l-59.312-59.312
    L16.98,292.28c-10.576,10.576-16.4,24.64-16.4,39.6s5.824,29.016,16.4,39.592l108.12,108.12C135.676,490.168,149.74,496,164.7,496
    c14.96,0,29.016-5.832,39.344-16.168l38.968-35.704L230.86,432H402.524z M335.428,280c0,4.416-3.592,8-8,8H320.7
    c2.32-5.288,4.08-10.864,5.216-16.664c3.424-0.712,6.576-2.072,9.512-3.784V280z M327.428,253.776v-27.552
    c4.76,2.776,8,7.88,8,13.776S332.188,251,327.428,253.776z M167.428,253.776c-4.76-2.776-8-7.88-8-13.776s3.24-11,8-13.776
    V253.776z M167.428,200v9.136c-2.848,0.744-5.52,1.864-8,3.312V184c0-48.52,39.48-88,88-88s88,39.48,88,88v28.448
    c-2.48-1.448-5.152-2.576-8-3.312V200h-8c-23.656,0-45.896-9.216-62.632-25.944l-9.368-9.368l-9.368,9.368
    C221.324,190.784,199.084,200,175.428,200H167.428z M183.428,256v-40.304c24.024-1.808,46.424-11.72,64-28.432
    c17.576,16.712,39.976,26.632,64,28.432V256c0,11.664-3.184,22.576-8.656,32h-55.344v16h42.192c-11.28,9.928-26.024,16-42.192,16
    C212.14,320,183.428,291.288,183.428,256z M271.428,332.312v0.376l-24,24l-24-24v-0.376c7.584,2.384,15.64,3.688,24,3.688
    S263.844,334.696,271.428,332.312z M126.02,381.488c4.616-13.856,16.416-24.088,30.792-26.712l55.92-10.16l34.696,34.696
    l34.688-34.688l55.912,10.16c14.376,2.624,26.176,12.848,30.792,26.712L380.332,416H214.86l-31.16-31.16l-34.624,31.32
    c-3.016,3.032-8.288,3.032-11.312,0l-17.472-17.472L126.02,381.488z M52.684,279.192l36.688,36.688l-8.688,8.688L43.996,287.88
    L52.684,279.192z M192.964,468.296c-7.552,7.536-17.6,11.704-28.28,11.704c-10.68,0-20.728-4.168-28.288-11.72L28.276,360.168
    c-7.552-7.552-11.712-17.6-11.712-28.28c0-10.688,4.16-20.736,11.712-28.288l4.4-4.4l36.688,36.688l-0.288,0.288
    c-9.352,9.36-9.352,24.584,0,33.944l57.368,57.368c4.536,4.528,10.56,7.032,16.976,7.032s12.44-2.496,16.68-6.752l0.6-0.536
    l36.856,36.856L192.964,468.296z M209.364,453.256l-36.776-36.776l10.568-9.552l36.712,36.712L209.364,453.256z" />
                              </g>
                          </g>
                      </svg>
                  </div>
                  <div class="inner_border noBorder">
                      <h4 class="large-font-h4">Support</h4>
                      <P class="large-font-p services_p">Dedicated team to train your staff and provide upgrades based
                          on your company needs.</P>
                  </div>
              </div>
          </div>
  </div>
</section>
<section class="text-center clients">
  <div class="container">
      <h2 data-aos="zoom-in">Some of Our Happy Clients</h2>
      <hr style="width: 50px;">
      <div class="row">
          <div class="col-md-12">
              <ul  class="clients_list">
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/BBCS.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/BM.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/Endemol.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/FOTW.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/IE.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/IM.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/KR.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/MC.jpg" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/tyler.png" alt="" class="">
                  </li>
                  <li>
                      <img src="https://procalwebsite.s3-us-west-2.amazonaws.com/clients/WOW.jpg" alt="" class="">
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
<section class="homerequest_demo">
  <h3 data-aos="zoom-in">WANT TO TRY IT? REACH OUT TO US</h3>
  <hr style="width: 50px;">
  <div class="container">
      <div class="col-md-12" data-aos="zoom-in">
          <form name="emailForm" id="emailForm" [formGroup]="emailForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" class="form-control" name="name" formControlName="name"
                          placeholder="Enter Name" required>
                      <span *ngIf="!emailForm.get('name').valid && emailForm.get('name').touched" class="error">Please
                          enter valid name*</span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <input type="number" placeholder="Phone" class="form-control" name="phone"
                          formControlName="phone" required>
                      <span *ngIf="!emailForm.get('phone').valid && emailForm.get('phone').touched"
                          class="error">Please enter valid phone number*</span>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <div class="form-group">
                      <input type="email" placeholder="Email*" class="form-control" name="email"
                          formControlName="email" required>
                      <span *ngIf="!emailForm.get('email').valid && emailForm.get('email').touched"
                          class="error">Please enter valid email*</span>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <textarea type="text" rows="5" class="form-control" name="comments" formControlName="comments"
                          placeholder="Enter Message"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <div class="text-center mx-auto">
                      <button type="submit" class="btn submit-btn btn-md">Submit</button>
                  </div>
              </div>

          </form>
      </div>
  </div>
  <div class="ack-sent" id="acksent" [style.display]="ackSent">
      <p> Your message has been sent <i class="fa fa-check" aria-hidden="true"></i> </p>
  </div>
</section>
<section class="license-section">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h5 class="text-center">Production affected by COVID-19? Get a free license for the rest of 2020.</h5>
          </div>
      </div>
  </div>
</section>
<section class="home_footer">
  <div class="container">
      <div class="row bottom-footer">
          <div class=" col-md-7 col-sm-8 col-xs-12">
              <h5><span>Copyright © 2020 All Rights Reserved by Revolution Entertainment Services.</span></h5>
          </div>
          <div class="col-md-5 col-sm-4 col-xs-12">
              <h5 class="pull-right" style="display: flex;"><span><a
                          href="http://www.revolutiones.com/#/privacypolicy" target="_blank"> Privacy
                          Policy</a></span>
                  <div id="verticle-line"></div> <span><a href="http://www.revolutiones.com/#/termsofuse"
                          target="_blank">Terms of Use</a></span>
              </h5>
          </div>
      </div>
  </div>
</section>
<div class="text-center video">
  <ng-template #video class="video" style="width:100%; margin: 0;">
      <div class="modal-body text-center" style="padding: 0;width: 100%;">
          <p class="pull-right popupvideoclose col-md-12">
              <button type="button" class=" closevideo pull-right" aria-label="Close" (click)="closeFullvideo()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </p>
          <video class="popup_video" width="800" height="auto" controls autoplay style="position: relative;">
              <source src="https://procalwebsite.s3-us-west-2.amazonaws.com/procal-presentation.mp4" type="video/mp4">
              <source src="movie.ogg" type="video/ogg"> Your browser does not support the video tag.
          </video>
      </div>
  </ng-template>
</div>